<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/movies.css">

    <title>About Us</title>
</head>

<body>
    <%- include('./layout/header') %>
        <main>


            <h1>FAVORITE MOVIES</h1>
            <button><a href="/movies">Back</a></button>
            <% favoriteArr.forEach((movie)=>{ %>
                <section class="favoriteMovies">
                    <h2><%= movie.title %></h2>
                    <h4><%= movie.release_date %></h4>
                    <h4><%= movie.vote %></h4>
                    <img src="<%= movie.image_url %>" alt="">
                    <p><%= movie.overview %></p> 
                    <br>       
                </section>
                <form action="/delete/<%=movie.id%>?_method=delete" method="POST">
                    <button>Delete</button>
                </form>
                <% }) %>

        </main>
        <%- include('./layout/footer') %>

</body>

</html>