<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/movies.css">
    <title>About Us</title>
</head>

<body>
    <%- include('./layout/header') %>
    <main>


            <h1>SPACE MOVIES CINEMA</h1>
            <button><a href="/favorite">Go To Favorite</a></button>
            <% moviesResult.forEach((movie)=>{ %>
                <section class="moviesCinema">
                    <h2><%= movie.title %></h2>
                    <h4><%= movie.release_date %></h4>
                    <h4><%= movie.vote %></h4>
                    <img src="<%= movie.image_url %>" alt="">
                    <p><%= movie.overview %></p>        
                </section>
                <form action="/addToFavorite" method="POST">
                    <input type="hidden" value="<%= movie.title %>" name="title">
                    <input type="hidden" value="<%= movie.release_date %>" name="release_date">
                    <input type="hidden" value="<%= movie.vote %>" name="vote">
                    <input type="hidden" value="<%= movie.image_url %>" name="image_url">
                    <input type="hidden" value="<%= movie.overview %>" name="overview">
                    <br>
                    <button type="submit">Add To Favorite</button>
                </form>
                <% }) %>
                <form action="/movies" method="GET">
                    <button type="submit" value="1" name="page" >Page 1</button>
                    <button type="submit" value="2" name="page" >Page 2</button>
                    <button type="submit" value="3" name="page" >Page 3</button>
                </form>
               

    </main>
    <%- include('./layout/footer') %>
</body>

</html>