<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/picture.css">
    <link rel="stylesheet" href="./style/errorPicture.css">
    
    <title>About Us</title>
</head>
<body>
    <%- include('./layout/header')  %>  
    <main>
        <h1>Picture of the day </h1>
    

        <% if (pictureRend){%>
          <div class="pictureOfTheDay"> 
            <section class="infoSection">
            <h2><%= pictureRend.title%></h2>
            <p class="pdate">  <%=pictureRend.date %> </p>
            <p>  <%=pictureRend.explanation %></p>
            </section>
            <div class="pictureForm">
                <form action="/picture" method="GET">
                <input type="date" min="1995-6-20" max=<%= new Date().toJSON().slice(0,10) %>  name="date" id=" date" value=<%=pictureRend.date%> >
                <button type="submit">Go!</button>
                </form>
            </div>
            <section class="picSection">
            <img src="<%=pictureRend.media_url%>" alt="picture">
            </section>
           
            <!-- <iframe src="<%=pictureRend.mediaURL%>" frameborder="1"></iframe> -->
            </div>
       <%}else{%>
        <%-include ('./errorPicture') %>
        <%}%>




    </main>
    <%- include('./layout/footer')  %>  
    
</body>
</html>