<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/planet.css">
    
    
    <title>About Us</title>
</head>
<body>
    <%- include('./layout/header')  %>  
    <main>
        <div class="planetInfo">
            <% planetArr.forEach(data=>{ %>
               <img class="imageRotation" src="<%=data.img_url %>" alt="">
            
            <h1> <%= data.title %> </h1>    
            <p> Age:<%= data.age %> </p>
            <P> Size : <%= data.size %></P>
            <p> Distance from Sun:<%= data.distance %> </p>
              <p> <%= data.description %>  </p>
           <% }) %>
           
</div>


    </main>
    
    <script src="../js/planet.js"></script>
   
    <%- include('./layout/footer')  %>
     <script>
if(planetArr[0].title === 'Saturn'){
        $('.imageRotation').removeClass('imageRotation');
    } </script>
    
</body>
</html>