<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../img/favicon-32x32.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/planet.css">
    
    
    <title><%= planetArr[0].title %></title>
    
</head>
<body>
    <%- include('./layout/header')  %>  
    <main>
        <div class="planetInfo">
            <% planetArr.forEach(data=>{ %>
               <img class="imageRotation" src="<%=data.img_url %>" alt="">
            
            <h1> <%= data.title %> </h1>    
            <p> <span class="infoTitle">Age:</span> <%= data.age %> </p>
            <P> <span class="infoTitle">Size :</span>  <%= data.size %></P>
            <p> <span class="infoTitle">Distance From Sun:</span> <%= data.distance %> </p>
            <br>
              <p> <%= data.description %>  </p>
           <% }) %>
           
</div>


    </main>
    
    <%- include('./layout/footer')  %>
    <script src="../js/planet.js"></script>
   

    
</body>
</html>